
{% if reviews %}
{% for review in reviews %}
<div class="modal fade" id="deleteReviewModal{{ review.id }}" tabindex="-1" aria-labelledby="deleteReviewModalLabel{{ review.id }}" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteReviewModalLabel{{ review.id }}">Delete Review</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {% if user.is_superuser and user != review.user %}
                    <span class="text-capitalize">{{ request.user }}</span>, Are you sure you want to delete {{ review.user}}'s review and ratings?
                {% else %}
                    <span class="text-capitalize">{{ review.user }}</span>, Are you sure you want to delete your review and ratings?
                {% endif %}
                <!-- Add a form for confirming the delete action -->
                <form method="post" action="{% url 'delete_review' review.id %}" id="deleteReviewForm">
                    {% csrf_token %}
                    <input type="hidden" name="review_id" id="deleteReviewId">
                    <button type="submit" class="btn btn-danger">Delete Review</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endif %}