{% include 'products/product_detail.html' %}
{% load static %}


<div class="modal fade" id="addReviewModal" tabindex="-1" aria-labelledby="addReviewModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                {% if user_reviewed == True %}
                <div class="modal-header">
                    <h5 class="modal-title " id="addReviewModalLabel">Edit Review</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                {% else %}
                <div class="modal-header">
                    <h5 class="modal-title " id="addReviewModalLabel">Add a Review</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div> 
                {% endif %}
                
                <div class="modal-body"> 
                    <!-- Add a form for users to submit reviews -->
                    <form method="post"  class="reviewform" enctype="multipart/form-data">
                        
                        {% csrf_token %}
                        <div class="card shadow p-1 bg-body-tertiary rounded mb-3">
                            <div class="card-body">
                                
                                <h2 class=" fw-bold text-center">{{ product.name }}</h2>
                                <p class="text-center"> Rate the product out of 5 stars!</p>
                                <div class="rating product_rating text-center">{{rating_form.product_rating}}

                                    <h4 >Product Rating</h4>
                                    <a class="btn"><i class="bi bi-star-fill" id="product_rating-first"></i></a>
                                    <a class="btn"><i class="bi bi-star-fill" id="product_rating-second"></i></a>
                                    <a class="btn"><i class="bi bi-star-fill" id="product_rating-third"></i></a>
                                    <a class="btn"><i class="bi bi-star-fill" id="product_rating-fourth"></i></a>
                                    <a class="btn"><i class="bi bi-star-fill" id="product_rating-fifth"></i></a>
                                </div>


                            </div>

                            <!-- Comment Box -->

                            <div class="card-body">
                                <h5 class="text-center">Leave a Review!</h5>
                                <div class="form-group ">
                                    <label for="id_comment_text" class="visually-hidden">Review:</label>
                                    {{ rating_form.comment_text }}

                                </div>
                                <small class="form-text text-muted">{{ rating_form.comment_text.help_text }}</small>
                            </div>
                            {% if user_reviewed == True %}
                            <button type="submit" class="btn btn-success">Update Review</button>
                            {% else %}
                            <button type="submit" class="btn btn-success">Submit Review</button>
                            {% endif %}
                        </div>
                    </form>
                </div>
            </div>
        </div>

</div>

<script src="{% static 'products/js/add_rating.js' %}">
</script>
<script>
    $(document).ready(function () {

        $('#addReviewModal').modal('show');

    });
    
</script>
