{% extends "base.html" %}
{% load static %}
{% block extra_title %}
Home
{% endblock extra_title %}
{% block content %}
<div id="carouselExampleFade" class="carousel slide bg-dark carousal-border carousel-fade">
  <div class="carousel-inner position-relative">

    <div class="carousel-item  ">
      <img src="{{ MEDIA_URL }}carousal6.jpg" class="d-block w-100 vh-100 carousal-image" alt="carousal image 1">

      <div class="carousal-overlay"></div>
      <div class="position-absolute   carousal-text text-white">
        <p class=" fw-bold  ">Unique and Handmade Dental Art.</p>
        <a href="{% url 'shop_products' %}" class="btn dental-decorbtn fs-4" aria-label="products page button" role="button">SHOP NOW</a>
      </div>
    </div>
    <div class="carousel-item active">
      <img src="{{ MEDIA_URL }}carousal7c.jpg" class="d-block w-100 vh-100 carousal-image" alt="carousal image 2">
      <div class="carousal-overlay"></div>
      <div class="position-absolute carousal-text text-white">
        <p class=" fw-bold  ">Unique and Handmade Dental Art.</p>
        <a href="{% url 'shop_products' %}" class="btn dental-decorbtn fs-4" aria-label="products page button" role="button">SHOP NOW</a>
      </div>
    </div>
    <div class="carousel-item  ">
      <img src="{{ MEDIA_URL }}carousal11.jpg" class="d-block w-100 vh-100 carousal-image" alt="carousal image 3">
      <div class="carousal-overlay"></div>
      <div class="position-absolute carousal-text text-white">
        <p class=" fw-bold  ">Unique and Handmade Dental Art.</p>
        <a href="{% url 'shop_products' %}" class="btn dental-decorbtn fs-4"  aria-label="products page button" role="button">SHOP NOW</a>
      </div>
    </div>

  </div>
  <button class="carousel-control-prev btn-black" type="button" data-bs-target="#carouselExampleFade"
    data-bs-slide="prev" aria-label="go left button">
    <span class="carousel-control-prev-icon btn-dark" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next btn-black" type="button" data-bs-target="#carouselExampleFade"
    data-bs-slide="next" aria-label="go right button">
    <span class="carousel-control-next-icon btn-dark" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>


</div>
<section class=" py-5">
  <div class="container">
    <h2 class="text-center mb-4">Customer Reviews</h2>
    <div class="row row-cols-1  row-cols-lg-3 g-3">

      <div class="col">
        <div class="card">
          <div class="card-header">
            <div class="d-flex justify-content-center">
              <small class="text-muted">
                <i class="bi bi-star-fill text-warning"></i>
                <i class="bi bi-star-fill text-warning"></i>
                <i class="bi bi-star-fill text-warning"></i>
                <i class="bi bi-star-fill text-warning"></i>
                <i class="bi bi-star-fill text-warning"></i>
              </small>
            </div>
          </div>
          <div class="card-body">
            <p class="card-text fw-bold">
                      " I absolutely love the dental art piece I purchased from Dental Decor! The craftsmanship is
              exceptional. Highly recommend!" - John </p>
          </div>

        </div>
      </div>

      <div class="col">
        <div class="card">
          <div class="card-header">
            <div class="d-flex justify-content-center">
              <small class="text-muted">
                <i class="bi bi-star-fill text-warning"></i>
                <i class="bi bi-star-fill text-warning"></i>
                <i class="bi bi-star-fill text-warning"></i>
                <i class="bi bi-star-fill text-warning"></i>
                <i class="bi bi-star-fill text-warning"></i>
              </small>
            </div>
          </div>
          <div class="card-body">
            <p class="card-text fw-bold">
                          " The dental art piece I ordered exceeded my expectations! Very pleased with my purchase!'" -
              Sarah Murphy </p>
          </div>

        </div>
      </div>

      <div class="col">
        <div class="card">
          <div class="card-header">
            <div class="d-flex justify-content-center">
              <small class="text-muted">
                <i class="bi bi-star-fill text-warning"></i>
                <i class="bi bi-star-fill text-warning"></i>
                <i class="bi bi-star-fill text-warning"></i>
                <i class="bi bi-star-fill text-warning"></i>
                <i class="bi bi-star-fill text-warning"></i>
              </small>
            </div>
          </div>
          <div class="card-body">
            <p class="card-text fw-bold">
              "I purchased a custom art piece from Dental Decor, and I couldn't be happier with the result! The
              attention to detail is commendable."
              - Mary Lau
            </p>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>

<!--About Us section-->
<section class="about-section py-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-6" id="about-us">
        <div class="mb-4">
          <h2 class="text-white">About Us</h2>
        </div>
        <div>
          <p class="text-white fs-5">
            We are a dedicated team passionate about providing top-quality dental art products to our customers.
            Our curated collection showcases a unique blend of creativity and precision, featuring a wide range of
            dental art, including captivating wall art, custom pieces tailored to your preferences, rare collectibles,
            and educational masterpieces.
            What sets us apart is our commitment to excellence. Each piece in our collection is carefully selected to
            ensure it meets our high standards of quality, craftsmanship, and artistic expression. Whether you are
            looking to enhance the ambiance of your dental practice or seeking a unique gift for a dental professional,
            you'll find something extraordinary in our diverse catalog.

          </p>

        </div>
      </div>

      <div class="col-lg-6 d-flex align-items-center justify-content-center">
        <img src="{{ MEDIA_URL }}team-image.webp" alt="About Us Image" class="img-fluid">
      </div>
    </div>
  </div>
</section>

<!--Newsletter subscription section-->
<section >
  <div class="container">
    <div class="row ">
      <div class="col-lg-6 d-flex flex-column  justify-content-around">
        
        <div id="mc_embed_shell" class="m-5 ">
          <h2 class="pb-4 text-black"><em>Subscribe to our newsletter for the latest updates!</em></h2>
          <link href="//cdn-images.mailchimp.com/embedcode/classic-061523.css" rel="stylesheet" type="text/css">
          <div class="row newsletter-container p-3" id="mc_embed_signup">
            <form
              action="https://herokuapp.us21.list-manage.com/subscribe/post?u=f21d81779c7b2c4ce5065e322&amp;id=a695eb3301&amp;f_id=000de3e6f0"
              method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate m-0"
              target="_blank">
              <div id="mc_embed_signup_scroll">
                <h2 class="text-white">Newsletter Subscribtion</h2>
                <div class="mc-field-group"><label for="mce-EMAIL">Email Address <span
                      class="asterisk text-white">*</span></label><input type="email" name="EMAIL" class="required email"
                    id="mce-EMAIL" required="" value=""></div>
                <div id="mce-responses" class="clear foot">
                  <div class="response" id="mce-error-response" style="display: none;"></div>
                  <div class="response" id="mce-success-response" style="display: none;"></div>
                </div>
                <div aria-hidden="true" style="position: absolute; left: -5000px;">
                  /* real people should not fill this in and expect good things - do not remove this or risk form bot
                  signups */
                  <label for="mail-chimp" class="visually-hidden">Hidden Input</label>
                  <input type="text" id="mail-chimp" name="b_f21d81779c7b2c4ce5065e322_a695eb3301" tabindex="-1" value="">
                </div>
                <div class="optionalParent">
                  <div class="clear foot">
                    <input type="submit" name="subscribe" id="mc-embedded-subscribe" class="button" value="Subscribe">
                    <p style="margin: 0px auto;"><a href="http://eepurl.com/iFfMVE"
                        title="Mailchimp - email marketing made easy and fun">
                        <span style="display: inline-block; background-color: transparent; border-radius: 4px;">
                          <img class="refferal_badge"
                            src="https://digitalasset.intuit.com/render/content/dam/intuit/mc-fe/en_us/images/intuit-mc-rewards-text-dark.svg"
                            alt="Intuit Mailchimp"
                            style="width: 220px; height: 40px; display: flex; padding: 2px 0px; justify-content: center; align-items: center;">
                        </span></a>
                    </p>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="text-center mb-5">
          <a class="navbar-brand nav-link fs-1" href="{% url 'home' %}" aria-label="home page link">
          <img src="{{ MEDIA_URL }}favicon.ico" alt="Dental decor logo" class="mt-0"> | DentalDecor
          </a>
          <p class="m-4 fw-bold text-start">
          Discover a selection of unique dental art
            created by talented artisans and designers.
            From striking canvas prints capturing the 
            intricacies of dental anatomy to beautifully 
            sculpted dental-inspired sculptures, our
            store brings together a diverse range of 
            pieces that appeal to both dental professionals 
            and art enthusiasts alike.
            <a href="{% url 'shop_products' %}" class="btn  dental-decorbtn rounded-circle btn-sm" data-bs-toggle="tooltip" data-bs-placement="top"
            title="Visit Shop" aria-label="visit shop page link"><i class="bi bi-arrow-up-right"></i></a>
          </p>
        </div>

      
      </div>
      <!--Contact Us form-->
      <div class="col-lg-6 bg-white border border-success my-5 rounded  mx-auto" id="contactus">
        <h2 class="m-3">Contact Us</h2>
        <p>
          Have questions or need assistance? Feel free to reach out to our friendly support team. We're here to help!
        </p>
        <form action="{% url 'contact_us' %}" method="post">
          {% csrf_token %}
          {{ contact_form | crispy }}
          <button type="submit" class="btn dental-decor-actionbtn m-2">Send Query</button>
        </form>
      </div>
    </div>
  </div>
  <div class="position-fixed bottom-0 end-0 p-3 m-3">
    <a class="btn fw-bold" href="{% url 'home' %}" id="scroll-to-top" aria-label="scroll up link">
        <i class="bi bi-arrow-up-circle "></i>
    </a>
  </div>
  
</section>
<script  src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script>
<script>
(function ($) { 
  window.fnames = new Array(); window.ftypes = new Array(); 
  fnames[0] = 'EMAIL'; 
  ftypes[0] = 'email'; 
  fnames[1] = 'FNAME'; 
  ftypes[1] = 'text'; 
  fnames[2] = 'LNAME'; 
  ftypes[2] = 'text'; 
  fnames[3] = 'ADDRESS'; 
  ftypes[3] = 'address'; 
  fnames[4] = 'PHONE'; 
  ftypes[4] = 'phone'; 
  fnames[5] = 'BIRTHDAY'; 
  ftypes[5] = 'birthday'; 
  }(jQuery)); 
  var $mcj = jQuery.noConflict(true);
</script>
{% endblock %}