{% extends "base.html" %}
{% load static %}

{% block content %}
<div id="carouselExample" class="carousel slide bg-dark">
    <div class="carousel-inner">
      <div class="carousel-item active position-relative">
        <img src="/media/carousal6.jpg" class="d-block w-100 vh-100 carousal-image" alt="...">
        <a href="#" class="btn dental-decorbtn position-absolute top-50 start-50 translate-middle" role="button">Shop Now</a>
        <div class="carousal-overlay"></div>
      </div>
      <div class="carousel-item active position-relative">
        <img src="/media/carousal7c.jpg" class="d-block w-100 vh-100 carousal-image" alt="...">
        <a href="#" class="btn dental-decorbtn position-absolute top-50 start-50 translate-middle" role="button">Shop Now</a>
        <div class="carousal-overlay"></div>
      </div>
      <div class="carousel-item active position-relative">
        <img src="/media/carousal11.jpg" class="d-block w-100 vh-100 carousal-image" alt="...">
        <a href="#" class="btn dental-decorbtn position-absolute top-50 start-50 translate-middle" role="button">Shop Now</a>
        <div class="carousal-overlay"></div>
      </div>
    </div>
    <button class="carousel-control-prev btn-black" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon btn-dark" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next btn-black" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon btn-dark" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>

    
  </div>
  <section class=" py-5">
    <div class="container">
        <h2 class="text-center mb-4">Customer Reviews</h2>
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3">

            <div class="col">
                <div class="card">
                  <div class="card-header">
                    <div class="d-flex justify-content-center">
                        <small class="text-muted">
                          <i class="bi bi-star-fill text-warning"></i>
                          <i class="bi bi-star-fill text-warning"></i>
                          <i class="bi bi-star-fill text-warning"></i>
                          <i class="bi bi-star-fill text-warning"></i>
                          <i class="bi bi-star-fill text-warning"></i>
                        </small> 
                    </div>
                  </div>
                  <div class="card-body">
                    <p class="card-text">""</p>
                  </div>
                  
                </div>
            </div>

            <div class="col">
                <div class="card">
                    <div class="card-header">
                      <div class="d-flex justify-content-center">
                        <small class="text-muted">
                          <i class="bi bi-star-fill text-warning"></i>
                          <i class="bi bi-star-fill text-warning"></i>
                          <i class="bi bi-star-fill text-warning"></i>
                          <i class="bi bi-star-fill text-warning"></i>
                          <i class="bi bi-star-fill text-warning"></i>
                        </small> 
                      </div>
                    </div>
                    <div class="card-body">
                        <p class="card-text">""</p>
                    </div>
                    
                </div>
            </div>

            <div class="col">
                <div class="card">
                  <div class="card-header">
                    <div class="d-flex justify-content-center">
                      <small class="text-muted">
                        <i class="bi bi-star-fill text-warning"></i>
                        <i class="bi bi-star-fill text-warning"></i>
                        <i class="bi bi-star-fill text-warning"></i>
                        <i class="bi bi-star-fill text-warning"></i>
                        <i class="bi bi-star-fill text-warning"></i>
                      </small> 
                    </div>
                  </div>
                  <div class="card-body">
                    <p class="card-text">""</p>
                  </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>
  <section class=" py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>About Us</h2>
                <p>
                    Welcome to Dental Decor! We are a dedicated team passionate about providing top-quality dental art products to our customers. Our mission is to ensure that you find art that inspire you for your clinic or private practice.
                </p>
            </div>
            <div class="col-md-6">
                <img src="/media/carousal5.jpg" alt="About Us Image" class="img-fluid">
            </div>
        </div>
    </div>
</section>

<section class=" py-5">
  <div class="container">
      <div class="row">
          <div class="col-md-6 d-none d-md-block">
            <img src="/media/contact-us.webp" alt="contact us" class="img-fluid">
          </div>
          <div class="col-md-6 bg-white">
              <h2>Contact Us</h2>
              <p>
                  Have questions or need assistance? Feel free to reach out to our friendly support team. We're here to help!
              </p>
              <form action="" method="post">
                  {% csrf_token %}
                  <div class="mb-3">
                      <label for="name" class="form-label">Name</label>
                      <input type="text" class="form-control" id="name" name="name" required>
                  </div>
                  <div class="mb-3">
                      <label for="email" class="form-label">Email</label>
                      <input type="email" class="form-control" id="email" name="email" required>
                  </div>
                  <div class="mb-3">
                      <label for="message" class="form-label">Message</label>
                      <textarea class="form-control" id="message" name="message" rows="5" required></textarea>
                  </div>
                  <button type="submit" class="btn btn-primary">Submit</button>
              </form>
          </div>
          
      </div>
  </div>
</section>
{% endblock %}