{% extends "base.html" %}
{% load static %}
{% block content %}



{% if wish_items %}
<div class="carousal-border container">
    <div class="row  ">
        <h1 class="mt-4 mb-4">Your Wishlist</h1>
        {% for item in wish_items %}
        <h2>{{ forloop.counter }}.</h2>
        <div class="col-12 col-md-6 col-lg-4 offset-lg-2 mb-4 ">
            <div class="card h-100">
                <div class="card-body d-flex align-items-center justify-content-center">
                    <div class="image-container">
                    {% if item.product.image %}
                    <a href="{{ item.product.image.url }}" target="_blank" aria-label="product-image">
                        <img class="card-img-top img-fluid wishlist-image" src="{{ item.product.image.url }}"
                        alt="{{ item.product.name }}">
                    </a>
                    {% else %}
                    <a href="{{ MEDIA_URL }}noimage.png" aria-label="Go up link">
                        <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ item.product.name }}">
                    </a>
                    {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 mb-4">
            <div class="card h-100 position-relative">
                <div class="card-body">
                    <h3 class="fw-bold mt-2 fs-4">{{ item.product.name }}</h3>
                    <p class="mt-3 fw-bold">{{ item.product.description }}</p>
                    <p class="lead mb-0 text-left fw-bold">€ {{ item.product.price }}</p>
                    <form class="form" action="{% url 'add_to_shoppingbag' item.product.id %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                        <div class="form-row">
                            {% with item.product.has_sizes as s %}
                            {% if s %}
                            <div class="col-12">
                                <label for="id_product_size"><strong>Size:</strong></label>
                                <select class="form-control form-select form-select-sm w-75" name="product_size" id='id_product_size'>
                                    {% if item.product.category.name == 'Wallart' %}
                                    <option value="small">Small 30* 40cm</option>
                                    <option value="medium" selected>Medium 40* 60cm</option>
                                    <option value="large">Large 60* 80cm</option>
                                    {% elif item.product.category.name == 'Educational' %}
                                    <option value="medium" selected>Medium</option>
                                    <option value="large">Large</option>
                                    {% elif item.product.category.name == 'Apparel' %}
                                    <option value="medium" selected>Medium</option>
                                    <option value="large">Large</option>
                                    {% elif item.product.category.name == 'Collectables' %}
                                    <option value="medium" selected>Medium</option>
                                    <option value="large">Large</option>
                                    {% else %}
                                    <option value="medium">Medium</option>
                                    {% endif %}
                                </select>
                            </div>
                            {% endif %}
                            <div class="col-12">
                                <label for="id_qty_{{ item.product.id }}"
                                    class="mt-3"><strong>Quantity:</strong></label>
                                <div class="input-group w-75">
                                    <div class="input-group-prepend">
                                        <button class="decrement-qty btn btn-outline-danger border-0 rounded-circle"
                                            data-item_id="{{ item.product.id }}"
                                            id="decrement-qty_{{ item.product.id }}" aria-label="decrease button">
                                            <span class="icon">
                                                <i class="bi bi-dash-circle"></i>
                                            </span>
                                        </button>
                                    </div>
                                    <input class="form-control qty_input" type="number" name="quantity" value="1"
                                        min="1" max="99" data-item_id="{{ item.product.id }}"
                                        id="id_qty_{{ item.product.id }}">
                                    <div class="input-group-append">
                                        <button class="increment-qty btn btn-outline-success border-0 rounded-circle"
                                            data-item_id="{{ item.product.id }}"
                                            id="increment-qty_{{ item.product.id }}" aria-label="increase button">
                                            <span class="icon">
                                                <i class="bi bi-plus-circle"></i>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            {% endwith %}
                            <div class="col-12 mt-2">
                                <div class="d-flex  align-items-center">
                                    
                                    <input type="submit" class="btn dental-decor-actionbtn shopping-bag me-auto text-uppercase" value="Add to Bag ">
                                    
                                </div>

                            </div>
                            
                        </div>
                    </form>
                    <div class="col-12 mt-2">
                        <div class="position-absolute top-0 end-0 ">
                            
                            {% include 'wishlist/remove_item_modal.html' %}
                            <button type="button" class="btn text-danger ms-auto rounded-circle " data-bs-toggle="modal"
                                data-bs-target="#removeModal{{ item.product.id }}" aria-label="remove wishlist button">
                                <i class="bi bi-x-circle"></i>
                            </button>
                        </div>

                    </div>

                </div>
            </div>
        </div>
        {% endfor %}
        <div class="col-12 text-center"> 
            <a href="{% url 'shop_products' %}" class="btn mb-1  btn-outline-dark rounded-0 me-1 " aria-label="shop page link">
                <span class="icon">
                    <i class="bi bi-caret-left"></i>
                </span>
                <span class="text-uppercase ">Browse</span>
            </a>
        </div>
    </div>
    
    
    <div class="position-fixed bottom-0 end-0 p-3 m-3">
        <a class="btn fw-bold" href="{% url 'wishlist' %}" id="scroll-to-top" aria-label="Go up link">
            <i class="bi bi-arrow-up-circle "></i>
        </a>
    </div>

    {% else %}
    <div class="carousal-border container">
        <h1 class="mt-4 ">Your Wishlist</h1>
    <div class="col-12 mx-auto min-vh-100 d-flex flex-column align-items-center justify-content-center ">
        <h2 class="text-center fw-bold">Your wishlist is empty.</h2>
        <div>
        <a href="{% url 'shop_products' %}" class="btn mb-1  btn-outline-secondary me-1" aria-label="shop page link">
            <span class="icon">
                <i class="bi bi-caret-left"></i>
            </span>
            <span class="text-uppercase ">Keep Browsing</span>
        </a>
        </div>
    </div>
    </div>
    {% endif %}
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}


{% include 'products/includes/quantity_input_script.html' %}
{% endblock %}