@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Poppins:wght@300&display=swap');


html {
    height: 100%;
}

body {
    /* background: url('/media/homepage_background_cropped.jpg') no-repeat center center fixed; */
    background-size: cover;
    height: calc(100vh - 164px);
    color: #333333;
    font-family: 'Lato';
}
.navbar-brand {
    color:#003333;
    font-weight: bold;
    font-size: 2rem;
}
.count {
    color: #FFFFF0;
    background-color: #006666;
    z-index: -1;
    font-size: 0.75rem;
}

.navbar-title {
    font-size: 1.5rem;
    text-align: center;
    margin: 1rem;
    color:#003333;
    font-weight: bold;
}

.navbar-price {
    font-size: 1rem;
    text-align: center;
    font-weight: bold;
}


.footer-div {
    font-size: 1.5rem;
}

footer {
    background-color: #003333;
}

.dental-decorbg {
    background-color: #F5F5F5;
}
.search-btn {
    color:#006666;
}

.search-field {
    margin-right: 0.25rem;
    
}
.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	z-index: -1;
}

h1, h2, h3, h4, h5 {
    color:#006666;
    font-weight: bold;
}

input[name='q']::placeholder {
    color: #aab7c4;
}

.carousel-item {
    max-height: 30rem;
}

.carousal-image {
    width: 100%;
    object-fit: cover;
    top: 0;
    position: relative;
}

.carousal-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 45%;
    background-color: rgba(0,0,0,0.3);
}
.carousal-text {
    left: 5%;
    top:55%;
    border-radius: 1rem;
    padding:1.5rem;
}

.carousal-text p{
    font-size: 1.5rem;
    font-style: italic;
    text-shadow: 0.1rem 0.1rem 0.2rem rgb(44, 62, 80)
}

.product-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.2);
    visibility: hidden;
}
.carousal-border {
    border-top: 0.125rem solid #006666;
    border-bottom: 0.125rem solid #006666;
}

.zoom-image {
    height: 15rem; 
    object-fit: cover; 
    object-position: center center;
}
.contact-image {
    height:40rem;
    object-fit: cover; 
    object-position: center center;
}
.about-section {
    background-color: #006666;
}
/**Buttons**/

.dental-decorbtn {
    background-color: #006666;
    color: #FFFFF0;
    z-index: 2;
}
.dental-decorbtn:hover {
    background-color: #FFFFF0;
    color: #006666;
    z-index: 2;
}
.dental-decor-actionbtn {
    background-color: #003333;
    color:#FFFFF0;
}
.dental-decor-actionbtn:hover {
    background-color: #006666;
    color:#FFFFF0;
}
.update-link, .remove-item {
    cursor:pointer;

}

.zoom-button {
    visibility: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    background-color: #006666;
}


.card:hover .zoom-button,
.card:hover .product-overlay {
    visibility: visible;
}
/*  bootstrap toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}



/* .carousel-item img {
    object-fit: contain;
    height:33rem;
    margin:0 auto;
} */
/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}

.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #6c757d; /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
	color: #17a2b8; /* text-info */
}

/* Product Form */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}


/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }

    .carousal-text {
        left: 15%;
        top:60%;
        border-radius: 1rem;
        padding:1.5rem;
    }
    
    .carousal-text p{
        font-size: 2rem;
        font-style: italic;
        text-shadow: 0.1rem 0.1rem 0.2rem rgb(44, 62, 80)
    }
}