@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Poppins:wght@300&display=swap');


html {
    height: 100%;
}

body {
    /* background: url('/media/homepage_background_cropped.jpg') no-repeat center center fixed; */
    background-size: cover;
    height: calc(100vh - 164px);
    color: #333333;
    font-family: 'Lato';
}
.navbar-brand {
    color:#006666;
    font-weight: bold;
    font-size: 2rem;
}

.footer-div {
    font-size: 1.5rem;
}

footer {
    background-color: #006666;
}

.search-btn {
    color:#006666;
}
.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: #FFFFF0;
	z-index: -1;
}


.carousel-item {
    max-height: 35rem;
}

.carousal-image {
    width: 100%;
    object-fit: cover;
    top: 0;
    position: relative;
}

.carousal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}

/**Buttons**/

.dental-decorbtn {
    background-color: #D87559;
    color: #FFFFF0;
    z-index: 2;
}

.update-link, .remove-item {
    cursor:pointer;

}
/*  bootstrap toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* .carousel-item img {
    object-fit: contain;
    height:33rem;
    margin:0 auto;
} */
/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}