{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    
    <section class="d-flex justify-content-center align-items-center carousal-border min-vh-100">
        <div class="container">
            <div class="row mx-2 justify-content-center">
              <div class=" card shadow bg-body-tertiary rounded col-lg-5 col-md-7  p-5 bg-light text-center ">
                <h1>{% trans "Change Password" %}</h1>

                <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn dental-decorbtn" name="action">{% trans "Change Password" %}</button>
                </form>
              </div>
            </div>
        </div>
      </section>
{% endblock %}
