{% load static %}
<!doctype html>
<html lang="en">

<head>
  {% block meta %}
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Dental Decor ecommerce website for dental art ">
  <meta name="keywords"
    content="dental, wallart dental,dental art, dental sculptures, dental collectables, custom dental, Dublin,Ireland, Ireland,">
  <meta name="author" content="Soorya George">
  {% endblock %}

  {% block extra_meta %}
  {% endblock %}

  {% block core_css %}
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
  <link rel="stylesheet" href="{% static 'css/base.css' %}">


  {% endblock %}

  {% block extra_css %}
  {% endblock %}

  {% block core_js %}
  <!-- JQuery -->
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"
    integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

  <link rel="icon" href="{{ MEDIA_URL }}favicon.ico" sizes="any">

  <script src="https://js.stripe.com/v3/"></script>
  {% endblock %}

  {% block extra_js %}
  {% endblock %}

  <title>Dental Decor {% block extra_title %}{% endblock %}</title>

</head>

<body class="dental-decorbg ">
  <header>
    <nav class="navbar navbar-expand-md navbar-light ">
      <div class="container">
        <a class="navbar-brand nav-link" href="{% url 'home' %}">
          <img src="{{ MEDIA_URL }}favicon.ico" alt="" class="img-fluid logo-image"> | DentalDecor
        </a>

        <button class="navbar-toggler ml-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item">
              <form method="GET" action="{% url 'shop_products' %}" class="form-inline" >
                <div class="input-group w-100">
                  <label for="search" class="visually-hidden">Search</label>
                  <input class="form-control rounded-5 border search-field " type="text" name="q"
                    placeholder="Search our site" id="search">
                  <div class="input-group-append ">
                    <button class="form-control btn  border dental-decor-actionbtn rounded-5" type="submit" aria-label="search button">
                      <span class="icon  fw-bold">
                        <i class="bi bi-search"></i>
                      </span>
                    </button>
                  </div>
                </div>
              </form>
            </li>
          </ul>

          <!-- Navbar Links on Right (for Larger Screens) -->
          <ul class="navbar-nav">

            <li class="nav-item text-center">
              
              <div class=" flex-sm-row flex-md-column align-items-center justify-content-evenly">
              <a class="nav-link fs-4 {% if request.resolver_match.url_name == 'home' %}active{% endif %}" href="{% url 'home' %}"><i class="bi bi-house"></i><span class="d-md-none"> Home </span></a>
              
              </div>
            </li>
            <li class="nav-item dropdown text-center">
              <div class=" flex-sm-row flex-md-column align-items-center justify-content-evenly">
                <a class="nav-link fs-4 dropdown-toggle {% if request.resolver_match.url_name == 'shop_products' %}active{% endif %}" href="#"  role="button"
                data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-shop"></i><span class="d-md-none"> Shop </span></a>
                <ul class="dropdown-menu ">
                  <li><a class="dropdown-item" href="{% url 'shop_products' %}">All Products</a>
                  </li>
                  <li><a class="dropdown-item" href="{% url 'shop_products' %}?category=Wallart">Wall Art</a></li>
                  <li><a class="dropdown-item" href="{% url 'shop_products' %}?category=Apparel">Apparel</a></li>
                  <li><a class="dropdown-item" href="{% url 'shop_products' %}?category=Collectables">Collectables</a>
                  </li>
                  <li><a class="dropdown-item" href="{% url 'shop_products' %}?category=Educational">Educational</a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="nav-item text-center">
              <div class=" flex-sm-row flex-md-column align-items-center justify-content-evenly">
                <a class="nav-link fs-4 {% if request.resolver_match.url_name == '#contactus' %}active{% endif %}" href="{% url 'contact_us' %}#contactus"><i class="bi bi-telephone"></i><span class="d-md-none"> Contact </span></a>
                
              </div>
            </li>
            <li class="nav-item dropdown text-center ">
              <div class="flex-sm-row flex-md-column align-items-center justify-content-evenly">
                <a class="nav-link fs-4 dropdown-toggle
                {% if request.resolver_match.url_name ==  'add_product' %}active{% endif %}
                {% if request.resolver_match.url_name ==  'profile' %}active{% endif %}
                {% if request.resolver_match.url_name ==  'account_logout' %}active{% endif %}
                {% if request.resolver_match.url_name ==  'account_login' %}active{% endif %}
                {% if request.resolver_match.url_name ==  'account_signup' %}active{% endif %}" 
                href="#" id="navbarDropdown" role="button"
                  data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="bi bi-person"></i><span class="d-md-none"> Account </span>

                </a>
              
              
              <ul class="dropdown-menu ">
                {% if request.user.is_authenticated %}
                {% if request.user.is_superuser %}
                <li><a href="{% url 'add_product' %}" class="dropdown-item {% if request.resolver_match.url_name ==  'add_product' %}active{% endif %}">Product Management</a></li>
                {% endif %}
                <li><a href="{% url 'profile' %}" class="dropdown-item {% if request.resolver_match.url_name == 'profile' %}active{% endif %}">My Profile</a></li>
                <li><a href="{% url 'account_logout' %}" class="dropdown-item {% if request.resolver_match.url_name == 'account_logout' %}active{% endif %}">Logout</a></li>
                {% else %}
                <li><a class="dropdown-item {% if request.resolver_match.url_name == 'account_login' %}active{% endif %}" href="{% url 'account_login' %}">Login</a></li>
                <li><a class="dropdown-item {% if request.resolver_match.url_name == 'account_signup' %}active{% endif %}" href="{% url 'account_signup' %}">Register</a></li>
                {% endif %}
              </ul>
            </div>
            
            
          </li>
            <li class="nav-item position-relative text-center">
              <div class=" flex-sm-row flex-md-column align-items-center justify-content-evenly">
              <a class="nav-link fs-4 {% if request.resolver_match.url_name == 'wishlist' %}active{% endif %}" href="{% url 'wishlist' %}"><i class="bi bi-suit-heart "></i>
                {% if wishlist_count > 0 %}
                <span class="badge count  badge-sm rounded-pill position-absolute  translate-middle">{{ wishlist_count}}</span>
                {% endif %}
                <span class="d-md-none"> Wishlist </span>
              </a>
            </div>
            </li>
            <li class="nav-item position-relative text-center">
              <div class=" flex-sm-row flex-md-column align-items-center justify-content-evenly">
              <a class="{% if total %} fw-bold{% else %}text-black{% endif %} nav-link fs-4 {% if request.resolver_match.url_name == 'view_shoppingbag' %}active{% endif %}"
                href="{% url 'view_shoppingbag' %}">


                <i class="bi bi-cart3"></i>
                {% if product_count > 0 %}
                <span class="badge count badge-sm rounded-pill position-absolute  translate-middle">{{ product_count}}</span>
                {% endif %}
                <div class="navbar-price  position-absolute start-0 d-none d-md-block badge-sm rounded-pill text-bg-warning">
                  {% if total %}
                   €{{ total|floatformat:2 }}
                  {% else %}
                  €0.00
                  {% endif %}
                </div>
                <span class="d-md-none  navbar-price badge-sm rounded-pill text-bg-warning ">
                  {% if total %}
                    €{{ total|floatformat:2 }}
                  {% else %}
                    €0.00
                  {% endif %}
                </span>

              </a>
              
            </div>

            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  {% if messages %}
  <div class="message-container">
    {% for message in messages %}
    {% with message.level as level %}
    {% if level == 40 %}
    {% include 'includes/toasts/toast_error.html' %}
    {% elif level == 30 %}
    {% include 'includes/toasts/toast_warning.html' %}
    {% elif level == 25 %}
    {% include 'includes/toasts/toast_success.html' %}
    {% else %}
    {% include 'includes/toasts/toast_info.html' %}
    {% endif %}
    {% endwith %}
    {% endfor %}
  </div>
  {% endif %}

  {% block page_header %}
  {% endblock %}

  {% block content %}
  {% endblock %}



  <footer class="text-center text-light ">
    <div class="container py-3">
      <div class="footer-div text-light">
        <a href="https://www.facebook.com/" class="me-3 text-light" aria-label="facebook link"><i class="bi bi-facebook"></i></a>
        <a href="https://www.instagram.com/" class="me-3 text-light" aria-label="instagram link"><i class="bi bi-instagram"></i></a>
        <a href="https://github.com/" class="me-3 text-light" aria-label="github link"><i class="bi bi-github" aria-label="github link"></i></a>
      </div>
      <p>Copyright@DentalDecor. All rights reserved.</p>
    </div>
  </footer>

  {% block postloadjs %}
  <script >
    $(document).ready(function () {
      $('.toast').toast('show');
    });
  </script>
  {% endblock %}
</body>

</html>