{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container mt-5 ">
    <div class="row">
        <div class="col">
            <h2 class="logo-font">Shopping Bag</h2>
            <hr class="my-4">
        </div>
    </div>

    <div class="row">
        <div class="col">
            {% if shoppingbag_items %}
            
            <div class="table-responsive rounded">
                <table class="table table-sm table-borderless">
                    <thead class="text-black">
                        <tr>
                            <th scope="col">Product Info</th>
                            <th scope="col"></th>
                            <th scope="col">Price</th>
                            <th scope="col">Qty</th>
                            <th scope="col">Subtotal</th>
                        </tr>
                    </thead>

                    {% for item in shoppingbag_items %}
                    <tr>
                        <td class="p-3 w-25">
                            <img class="img-fluid rounded" src="{{ item.product.image.url }}">
                        </td>
                        <td class="py-3">
                            <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                            <p class="my-0"><strong>Size: </strong>{% if item.product.has_sizes %}{{ item.size|upper }}{% else %}N/A{% endif %}</p>
                            <p class="my-0 small text-muted">SKU: {{ item.product.sku|upper }}</p>
                        </td>
                        <td class="py-3">
                            <p class="my-0">${{ item.product.price }}</p>
                        </td>
                        <td class="py-3 w-25">
                            <form class="form update-form" method="POST" action="">
                                {% csrf_token %}
                                
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <button class="decrement-qty btn btn-sm btn-black rounded-0" 
                                                data-item_id="{{ item.item_id }}" id="decrement-qty_{{ item.item_id }}">
                                                <span>
                                                    <i class="bi bi-dash-circle"></i>
                                                </span>
                                            </button>
                                        </div>
                                        <input class="form-control form-control-sm qty_input" type="number"
                                            name="quantity" value="{{ item.quantity }}" min="1" max="99"
                                            data-item_id="{{ item.item_id }}"
                                            id="id_qty_{{ item.item_id }}">
                                        <div class="input-group-append">
                                            <button class="increment-qty btn btn-sm btn-black rounded-0"
                                                data-item_id="{{ item.item_id }}" id="increment-qty_{{ item.item_id }}">
                                                <span>
                                                    <i class="bi bi-plus-circle"></i>
                                                </span>
                                            </button>
                                        </div>
                                        {% if item.product.has_sizes %}
                                            <input type="hidden" name="product_size" value="{{ item.size }}">
                                        {% endif %}
                                    </div>
                                
                            </form>
                            <div class="d-flex justify-content-between mt-2">
                                <a class="update-link text-info" href="">
                                    <small>Update</small>
                                </a>
                                <a class="remove-item text-danger" href="" id="remove_{{ item.item_id }}" data-size="{{ item.size }}">
                                    <small>Remove</small>
                                </a>
                            </div>
                        </td>
                        <td class="py-3">
                            <p class="my-0">${{ item.product.price }}</p>
                        </td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="5" class="pt-5 text-right">
                            <h4 class="mt-4"><strong>Total: ${{ total|floatformat:2 }}</strong></h4>
                           
                        </td>
                    </tr>
                    <tr>
                        <td colspan="5" class="text-right">
                            <a href="{% url 'shop_products' %}" class="btn btn-outline-dark rounded-0 btn-lg">
                                <span class="icon">
                                    <i class="bi bi-caret-left"></i>
                                </span>
                                <span class="text-uppercase">Keep Shopping</span>
                            </a>
                            <a href="" class="btn btn-dark rounded-0 btn-lg">
                                <span class="text-uppercase">Proceed to Checkout</span>
                                <span class="icon">
                                    <i class="bi bi-wallet-fill"></i>
                                </span>
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
            {% else %}
            <div class="d-flex justify-content-center align-items-center flex-column">
                <p class="lead mb-4">Your bag is empty.</p>
                <a href="{% url 'shop_products' %}" class="btn btn-outline-black rounded-pill btn-lg">
                    <i class="bi bi-chevron-left me-2"></i> Keep Shopping
                </a>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}

{% include 'products/includes/quantity_input_script.html' %}
{% include 'shoppingbag/includes/crud_script.html' %}

{% endblock %}