{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container mt-5 ">
    <div class="row">
        <div class="col">
            <h2 class="logo-font">Shopping Bag</h2>
            <hr class="my-4">
        </div>
    </div>

    <div class="row">
        <div class="col">
            {% if shoppingbag_items %}
                <div class="table-responsive rounded">
                    {{ shoppingbag_items }}
                </div>
            {% else %}
                <div class="d-flex justify-content-center align-items-center flex-column">
                    <p class="lead mb-4">Your bag is empty.</p>
                    <a href="{% url 'shop_products' %}" class="btn btn-outline-black rounded-pill btn-lg">
                        <i class="bi bi-chevron-left me-2"></i> Keep Shopping
                    </a>
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}