{% extends "base.html" %}
{% load static %}


{% block content %}
    <div class="overlay"></div>
    <div class="container carousal-border">
        <div class="row">
            <div class="col-12 col-md-6 mx-auto">
                <h1 class="logo-font my-4 text-center">Product Management</h1>
                <h2 class="text-muted ">Edit a Product</h2>
                <div class="w-75 d-flex justify-content-center ">
                {% if product.image %}
                <a href="{{ product.image.url }}" target="_blank">

                <img class=" mb-5 mb-md-0 img-thumbnail" src="{{ product.image.url }}" alt="{{ product.name }}">
                </a>
                {% else %}
                <a href="{{ MEDIA_URL }}no_image.jpg" target="_blank">
                    <img class=" mb-5 mb-md-0" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                </a>
                {% endif %}
            </div>
            </div>
            
        </div>

        <div class="row">
            <div class="col-12 col-md-6 mx-auto">
                <form method="POST" action="{% url 'edit_product' product.id %}" class="form mb-2" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in form %}
                        
                            {{ field | as_crispy_field }}
                        
                    {% endfor %}
                    <div class="text-right">
                        <a class="btn btn-danger" href="{% url 'shop_products' %}">Cancel</a>
                        <button class="btn dental-decor-actionbtn" type="submit">Update Product</button>
                    </div>
                </form>
            </div>            
        </div>
    </div>
{% endblock %}

